.table>tbody{
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
  
}

.admin-content{
 max-width: 100%;
 padding: 1rem;

 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

table th,
table td {
  border-right: #999999 solid 1px;
  font-size: 12px;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
 

}
